html {
    font-size: 20px;
    color: white;
}

.image-text {
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
    position: absolute;
}

.title {
    font-size: 18px;
    bottom: 34px;
    font-weight: bold;
}

.author {
    font-size: 13px;
    bottom: 19px;
}

/* Wrapper */

.icon-button {
    background-color: white;
    border-radius: 1.8rem;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9rem;
    height: 1.8rem;
    line-height: 1.8rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1.8rem;
}

/* Circle */

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.icon-button:hover span {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 1.8rem;
    margin: -0.9rem;
}
.twitter span {
    background-color: #4099ff;
}
.facebook span {
    background-color: #3B5998;
}
.download span {
    background-color: #db5a3c;
}

/* Icons */

.icon-button i {
    background: none;
    color: white;
    height: 1.8rem;
    left: 0;
    line-height: 1.8rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 1.8rem;
    z-index: 10;
}
.icon-button .icon-twitter {
    color: #4099ff;
}
.icon-button .icon-facebook {
    color: #3B5998;
}
.icon-button .icon-download {
    color: #db5a3c;
}
.icon-button:hover .icon-twitter, .icon-button:hover .icon-facebook, .icon-button:hover .icon-download {
    color: white;
}
.position-right {
    position: absolute;
    right: 0;
}
.position-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
}
.vertical {
    display: block;
    margin: 10px;
    margin-right: 14px;
}
